
<body>
<div class="container">
    <h1>List of All Recipes</h1>
<div class="spanTest">
        <div class="row">
            <div class="col-xs-4">
                <input type="text" class="form-control" focus-if ng-model="search" placeholder="Search"/>
            </div>
        </div>
    <br>
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <th>Name</th>
            <th>Link</th>
            <th>Category</th>
            <th>Description</th>
        </thead>
        <tbody>
            <!--looper igennem allRecipe array og tilføjer relevant data-->
            <tr ng-repeat="recipe in allRecipes | recipeSearch:search : false"><!--kører search for hvert element-->
                <td ng-click="editRecipe(recipe)">{{recipe.name}}</td><!--kalder editRecipe med ng-click-->
                <td><a href="{{recipe.link}}">{{recipe.link}}</a></td><!--aktivt link - derfor intet ng-click -->
                <td ng-click="editRecipe(recipe)">{{recipe.category}}</td>
                <td ng-click="editRecipe(recipe)">{{recipe.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</body>
