<div class="container">
    <h3>Manage Recipes</h3>

    <input ui-sref="manage-recipes.new" type="test" value="New Recipe" class="btn btn-default">
    <input ui-sref="manage-recipes.all" type="test" value="All Recipes" class="btn btn-default">

    <!--<div class="container">-->
        <!--<h2>Dynamic Tabs</h2>-->
        <!--<ul class="nav nav-tabs">-->
            <!--<li class="active"><a data-toggle="tab" href="#all">All Recipes</a></li>-->
            <!--<li><a data-toggle="tab" href="#new">New Recipe</a></li>-->

        <!--</ul>-->

        <!--<div class="tab-content">-->
            <!--<div id="all" class="tab-pane fade in active">-->
                <!--<h3>ALL</h3>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
            <!--</div>-->
            <!--<div id="new" class="tab-pane fade">-->
                <!--<h3>NEW 1</h3>-->
                <!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div ui-view></div>

</div>