<body>
<div class="container">
    <h1>Random Recipe!</h1>
    <div class="spanTest">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
            <th class="col-sm-8 col-md-4">Name</th>
            <th class="col-sm-8 col-md-4">Link</th>
            <th class="col-sm-8 col-md-4">Category</th>
            <th class="col-sm-8 col-md-4">Description</th>
            <th class="col-sm-8 col-md-4">Cuisine</th>
            <th class="col-sm-8 col-md-4">Time</th>
            </thead>
            <tbody>
            <tr ng-repeat="recipe in allRecipes | filter: filterRandomRecipes">
                <td>{{recipe.name}}</td>
                <td><a href="{{recipe.link}}">{{recipe.link}}</a></td>
                <td>{{recipe.category}}</td>
                <td>{{recipe.description}}</td>
                <td>{{recipe.category}}</td>
                <td>{{recipe.description}}</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" focus-if ng-click="getRandomRecipe()" enter-to-submit="getRandomRecipe()" >Get a random recipe!!</button>
    </div>
</div>
</body>

