<form novalidate name="recipeForm" ng-submit="saveRecipe()">

    <div class="container">
        <h1>Recipe Form</h1>

        <!-- Title -->
        <div class="col-md-12 col-lg-6">
            <label>Name of recipe</label>
                <span class="error" ng-show="recipeForm.name.$error.required && recipeForm.$submitted">
                <br>
                Name is required
                </span>
            <input class="form-control" required ng-model="recipe.name" name="name">
            <br>
        </div>

        <!-- cuisine w. Dropdown -->
        <div class="col-md-12 col-lg-6">
            <label>Cuisine</label>
            <span class="error" ng-show="recipeForm.$submitted && recipeForm.time.$pristine">
                <br>
                Cuisine is required
            </span>
            <select ng-model="recipe.cuisine" ng-options="item for item in cuisineList" class="form-control" name="cuisine" required>
                <option value="" disabled selected>Select cuisine</option>
            </select>
            <br>
        </div>

        <!-- Category w. Dropdown -->
        <div class="col-md-12 col-lg-6">
            <label>Category (Starter, Main Course, Dessert etc.)</label>
                <span class="error" ng-show="recipeForm.time.$pristine && recipeForm.$submitted ">
                    <br>
                    You have to select a course, of course!
                </span>
            <select ng-model="recipe.category" ng-options="item for item in categoryList" class="form-control" name="category" required>
                <option value="" disabled selected>Select your course category</option>
            </select>
            <br>
        </div>

        <!-- Cooking Time -->
        <div class="col-md-12 col-lg-6">
            <label>Cooking time</label>
                <span class="error" ng-show="recipeForm.$submitted && recipeForm.time.$pristine" >
                <br>
                Time is required
                </span>
            <select ng-model="recipe.time" ng-options="item for item in timeList" class="form-control" name="time" required>
                <option value="" disabled selected> Select Time</option>
            </select>
            <br>
        </div>


        <!-- Brief Description -->
        <div class="col-lg-12">
            <label>Brief Description</label>
                <span class="error" ng-show="recipeForm.description.$error.required && recipeForm.$submitted" >
                <br>
                Description is required
                </span>
            <textarea class="form-control" required ng-model="recipe.description" name="description" rows="5"></textarea>
            <br>
        </div>

        <!-- Link to recipe -->
        <div class="col-lg-12">
            <label>Link to recipe</label>
                <span class="error" ng-show="recipeForm.link.$error.required && recipeForm.$submitted">
                <br>
                Link is required
                </span>
                <span class="error" ng-show="validURL === false && recipeForm.$dirty">
                    <br>
                    Link is a not a valid URL address
                </span>
            <input type="url" class="form-control" required ng-model="recipe.link" name="link">
            <br>
        </div>

        <input type="submit" value="Create Recipe" class="btn btn-primary" enter-to-submit="submitForm()"/>
    </div>
</form>